/Libs/EntityManager/bin/Debug/*.dll
/Libs/EntityManager/bin/Debug/*.pdb
/Libs/EntityManager/bin/Debug/*.xml
/Libs/EntityManager/obj/Debug/*.cache
/Libs/EntityManager/obj/Debug/*.txt
/Libs/EntityManager/obj/Debug/*.dll
/Libs/EntityManager/obj/Debug/*.pdb
/Libs/EntityManager/obj/Debug/*.cs
/WebApp/*.suo
/WebApp/bin/Debug/*.dll
/WebApp/bin/Debug/*.pdb
/WebApp/bin/Debug/*.xml
/WebApp/obj/Debug/*.cache
/WebApp/obj/Debug/*.cs
/WebApp/obj/Debug/*.txt
/WebApp/obj/Debug/*.dll
/WebApp/obj/Debug/*.pdb
/WebApp/packages/AutoMapper.7.0.1/*.nupkg
/WebApp/packages/AutoMapper.7.0.1/lib/net45/*.dll
/WebApp/packages/AutoMapper.7.0.1/lib/net45/*.pdb
/WebApp/packages/AutoMapper.7.0.1/lib/net45/*.xml
/WebApp/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/*.dll
/WebApp/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/*.pdb
/WebApp/packages/AutoMapper.7.0.1/lib/netcoreapp2.0/*.xml
/WebApp/packages/AutoMapper.7.0.1/lib/netstandard1.3/*.dll
/WebApp/packages/AutoMapper.7.0.1/lib/netstandard1.3/*.pdb
/WebApp/packages/AutoMapper.7.0.1/lib/netstandard1.3/*.xml
/WebApp/packages/AutoMapper.7.0.1/lib/netstandard2.0/*.dll
/WebApp/packages/AutoMapper.7.0.1/lib/netstandard2.0/*.pdb
/WebApp/packages/AutoMapper.7.0.1/lib/netstandard2.0/*.xml
/WebApp/packages/System.ValueTuple.4.5.0/*.TXT
/WebApp/packages/System.ValueTuple.4.5.0/*.nupkg
/WebApp/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/net461/*.dll
/WebApp/packages/System.ValueTuple.4.5.0/lib/net461/*.xml
/WebApp/packages/System.ValueTuple.4.5.0/lib/net47/*.dll
/WebApp/packages/System.ValueTuple.4.5.0/lib/net47/*.xml
/WebApp/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/*.dll
/WebApp/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/*.xml
/WebApp/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/*.dll
/WebApp/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/*.xml
/WebApp/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/xamarinios10/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/*._
/WebApp/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/net461/*.dll
/WebApp/packages/System.ValueTuple.4.5.0/ref/net47/*.dll
/WebApp/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/*.dll
/WebApp/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/xamarinios10/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/*._
/WebApp/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/*._
/WebApp/packages/System.ValueTuple.4.5.0/*.txt
/WorldRpgTool.Tests/bin/Debug/*.dll
/WorldRpgTool.Tests/bin/Debug/*.pdb
/WorldRpgTool.Tests/bin/Debug/*.xml
/WorldRpgTool.Tests/obj/Debug/*.cache
/WorldRpgTool.Tests/obj/Debug/*.cs
/WorldRpgTool.Tests/obj/Debug/*.txt
/WorldRpgTool.Tests/obj/Debug/*.dll
/WorldRpgTool.Tests/obj/Debug/*.pdb
